# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# ========== Environments ==========
.env
.venv/
env/
venv/
.idea/
.vscode/

# ========== Notebooks ==========
.ipynb_checkpoints/

# ========== Data ==========
data/cleaned/*
!data/raw/recipes.csv
!data/.gitkeep
!data/nutrition_cache.json

# ========== Models ==========
# ========== Models ==========
model/*
!model/.gitkeep
!model/Food_Recognition_Model.pt
!model/label_map.json

# ========== System ==========
.DS_Store
Thumbs.db

# ========== Streamlit cache ==========
.streamlit/

# ========== Others ==========
*.zip
*.tar
*.tar.gz
