# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# ========== Environments ==========
.env
.venv/
env/
venv/
.idea/
.vscode/

# ========== Notebooks ==========
.ipynb_checkpoints/

# ========== Models ==========
backend/model/*.pt
backend/model/*.pth
backend/model/.cache/

# ========== Frontend build ==========
frontend/dist/
frontend/node_modules/

# ========== System ==========
.DS_Store
Thumbs.db

# ========== Archives ==========
*.zip
*.tar
*.tar.gz
